/******************************************************************************************************
//  OpenSEE.css - Gbtc
//
//  Copyright © 2014, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the Eclipse Public License -v 1.0 (the "License"); you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://www.opensource.org/licenses/eclipse-1.0.php
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  07/15/2014 - Jeff Walker
//       Generated original version of source code.
//
//******************************************************************************************************/

body {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.wait {
    font-family: Arial;
    font-weight: bold;
}

.wait_container {
    min-width: 220px;
}

.blockUI {
    min-width: 220px;
}

td {
    padding: 0px;
}

.DockWaveformHeader {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.ChartPlot {
    width: 100%;
    height: 100%;
}

.ChartLegend {
    width: 140px;
    height: 100%;
    border: 2px solid #444;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.legendColorBox, .legendLabel {
    cursor: pointer;
}

.legendColorBox {
    width: 1%;
}

.dot {
	width: 5px !important;
	height: 5px !important;
	border-radius: 50% !important;
}

.phasertooltip {
    font-size: 8px;
    padding: 0em;
}

#unifiedtooltip {
    min-width: 200px;
    max-width: 400px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    position: absolute;
    padding: 0em;
    z-index: 1000;
    border: black;
    box-shadow: 4px 4px 2px #888888;
    border: 2px solid;
}

#unifiedtooltiphandle {
    width: 100%; 
    height:20px; 
    background-color: #808080;
    cursor: move;
    padding: 0em;
}

#phasor {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    position: absolute;
    padding: 0em;
    z-index: 1000;
    border: black;
    box-shadow: 4px 4px 2px #888888;
    border: 2px solid;
}

#phasorhandle {
    width: 100%; 
    height:20px; 
    background-color: #808080;
    cursor: move;
    padding: 0em;
}

.smallbutton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 11px;
    padding: 6px 10px 6px 10px;
    border: solid #1f628d 1px;
    text-decoration: none;
}

.smallbutton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


#accumulatedpoints {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: absolute;
    padding: 0em;
    z-index: 1000;
    box-shadow: 4px 4px 2px #888888;
    width: 520px;
    height: 260px;
    border: 0;
}

#accumulatedpointshandle {
    overflow: hidden;
    width: 100%; 
    height:20px; 
    background-color: #808080;
    cursor: move;
    padding: 0em;
}

#accumulatedpointscontent {
    width: 100%;
}

#TitleData {
    font-size: 12px !important;
}

.CloseButton {
    background: firebrick;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border: 0;
}

.CloseButton:hover {
    background: orangered;
}