@*******************************************************************************************************
//  PageTemplate.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may not use this
//  file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  01/22/2016 - J. Ritchie Carroll
//       Generated original version of source code.
//
//*****************************************************************************************************@
@using PQDashboard.Model
@model AppModel
<p>
    By clicking on the menu items to the left, the following lists can be maintained:
</p>
<ol>
    <li>
        The <b>Patch Source</b> (or Vendor) List.  This is the list that the Patch Input Coordinator (PIC) must check for applicable security patches.
    </li>
    <li>
        The <b>Target Platform</b> List.  This list exists to provide a convenient way for the PIC to assign a Business Unit (BU) a candidate security
        patch for assessment.  As new patches are added to the system, they must be assigned to a Target Platform.
    </li>
    <li>
        The <b>Business Unit Group</b> (BU Group) List.  Defines the BU Coordinator (BUC) that is accountable for one or more Platforms within PQDashboard.
        While there is typically just one BU Group per business unit, Owners can create as many groups as are needed to manage BUC / SME
        accountability relationships.
    </li>
    <li>
        The list of applicable platforms for each BU Group.
    </li>
    <li>
        The list of Subject Matter Experts (SMEs) for each BU Group
    </li>
</ol>
<p>
    Click on "System Settings" to view and update the application settings that you have permission to change.
</p>
