<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
    <Product Id="{FD10F635-0C83-429A-8173-D673CEE77862}" Name="PQ Dashboard" Language="1033" Version="1.0.6.0" Manufacturer="Grid Protection Alliance" UpgradeCode="{A39ED5D7-B6CC-419B-9EFA-73D786FAF75D}">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED"/>
        <Condition Message='This setup requires Microsoft .NET Framework 4.6 or greater - this will need to be installed before installation can continue.'>
            <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
        </Condition>

        <Feature Id="AllSites" Title="All Websites" Level="1" Display="expand" Description="All websites in the PQ Dashboard installation.">
            <!-- PQ Dashboard -->
            <Feature Id="PQDashboardFeature" Title="PQ Dashboard" AllowAdvertise="no" Description="Installs the PQ Dashboard website for visualization of power quality data." ConfigurableDirectory="PQDASHFOLDER">
                <ComponentGroupRef Id="PQDashboardGroup" />
            </Feature>
        </Feature>

        <UI>
            <!-- User Interface -->
            <Property Id="WIXUI_INSTALLDIR" Value="PQDASHFOLDER" />
            <UIRef Id="WixUI_InstallDir" />
            <UIRef Id="WixUI_ErrorProgressText" />
            <DialogRef Id="DatabaseConnectionDialog" />
            
            <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="DatabaseConnectionDialog" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="DatabaseConnectionDialog">NOT Installed</Publish>
        </UI>
        
        <Icon Id="PQDashboard.ico" SourceFile="src/PQD.ico" />
        
        <Property Id="WWWROOTDIR">
            <RegistrySearch Id="FindInetPubFolder" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp" Name="PathWWWRoot" Type="directory" />
        </Property>
        
        <Property Id="SERVERNAME" Value="localhost" />
        <Property Id="WINDOWSAUTH" Value="1" />
        <Property Id="DATAPROVIDERSTRING" Value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089};; ConnectionType=System.Data.SqlClient.SqlConnection;; AdapterType=System.Data.SqlClient.SqlDataAdapter" />
        <SetProperty Id="DATABASENAME" Value="openXDA" After="LaunchConditions" Sequence="first" />
        <SetProperty Id="SCRIPTPATH" Value="[INSTALLFOLDER]\openXDA.sql" After="LaunchConditions" Sequence="execute" />
        <SetProperty Id="PQDASHURL" Value="http://localhost/PQDashboard/" Before="CreateShortcuts" Sequence="execute" />
        <WixVariable Id="WixUIBannerBmp" Value="src\PQ Dashboard SetupLogo.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="src\InstallWelcome.bmp" />
        <WixVariable Id="WixUILicenseRtf" Value="src\INSTALL_LICENSE.rtf" />
        
        <!-- Web Site -->
        <iis:WebSite Id="DefaultWebSite" Description="Default Web Site" Directory="WWWROOTDIR">
            <iis:WebAddress Id="AllUnassigned" Port="80" />
        </iis:WebSite>
    
        <!-- Add/Remove Programs Properties -->
        <Property Id="ARPPRODUCTICON" Value="PQDashboard.ico" />
        
        <!-- Custom Actions -->
        <Binary Id="InstallerActions" SourceFile="src\GSF.InstallerActions.CA.dll" />
        <CustomAction Id="BrowseFileAction" BinaryKey="InstallerActions" DllEntry="BrowseFileAction" Execute="immediate" />
        <CustomAction Id="CheckFileExistenceAction" BinaryKey="InstallerActions" DllEntry="CheckFileExistenceAction" Execute="immediate" />
        
        <CustomAction Id="PasswordGenerationAction" BinaryKey="InstallerActions" DllEntry="PasswordGenerationAction" Execute="immediate" />
        <CustomAction Id="TestDatabaseConnectionAction" BinaryKey="InstallerActions" DllEntry="TestDatabaseConnectionAction" Execute="immediate" />

        <CustomAction Id="CreateDBLogin.SetProperty" Property="CreateDBLogin" Value="SERVICENAME=[SERVICENAME];CONNECTIONSTRING=[SERVERCONNECTIONSTRING];DATAPROVIDERSTRING=[DATAPROVIDERSTRING];DBQUERY=[CREATEDBLOGINQUERY]" />
        <CustomAction Id="CreateDBLogin" BinaryKey="InstallerActions" DllEntry="DatabaseQueryAction" Execute="deferred" Impersonate="yes" />
        <CustomAction Id="AlterDBLogin.SetProperty" Property="AlterDBLogin" Value="SERVICENAME=[SERVICENAME];CONNECTIONSTRING=[SERVERCONNECTIONSTRING];DATAPROVIDERSTRING=[DATAPROVIDERSTRING];DBQUERY=[ALTERDBLOGINQUERY]" />
        <CustomAction Id="AlterDBLogin" BinaryKey="InstallerActions" DllEntry="DatabaseQueryAction" Execute="deferred" Impersonate="yes" />
        <CustomAction Id="CreateDBUser.SetProperty" Property="CreateDBUser" Value="SERVICENAME=[SERVICENAME];CONNECTIONSTRING=[DBCONNECTIONSTRING];DATAPROVIDERSTRING=[DATAPROVIDERSTRING];DBQUERY=[CREATEDBUSERQUERY]" />
        <CustomAction Id="CreateDBUser" BinaryKey="InstallerActions" DllEntry="DatabaseQueryAction" Execute="deferred" Impersonate="yes" />
        <CustomAction Id="GrantDBPermissions.SetProperty" Property="GrantDBPermissions" Value="SERVICENAME=[SERVICENAME];CONNECTIONSTRING=[DBCONNECTIONSTRING];DATAPROVIDERSTRING=[DATAPROVIDERSTRING];DBQUERY=[DBPERMISSIONSQUERY]" />
        <CustomAction Id="GrantDBPermissions" BinaryKey="InstallerActions" DllEntry="DatabaseQueryAction" Execute="deferred" Impersonate="yes" />
        
        <InstallExecuteSequence>
            <Custom Action="CreateDBLogin.SetProperty" After="InstallFiles">NOT Installed AND WINDOWSAUTH</Custom>
            <Custom Action="CreateDBLogin" After="CreateDBLogin.SetProperty">NOT Installed AND WINDOWSAUTH</Custom>
            <Custom Action="AlterDBLogin.SetProperty" After="CreateDBLogin">NOT Installed AND WINDOWSAUTH</Custom>
            <Custom Action="AlterDBLogin" After="AlterDBLogin.SetProperty">NOT Installed AND WINDOWSAUTH</Custom>
            <Custom Action="CreateDBUser.SetProperty" After="AlterDBLogin">NOT Installed AND WINDOWSAUTH</Custom>
            <Custom Action="CreateDBUser" After="CreateDBUser.SetProperty">NOT Installed AND WINDOWSAUTH</Custom>
            <Custom Action="GrantDBPermissions.SetProperty" After="CreateDBUser">NOT Installed AND WINDOWSAUTH</Custom>
            <Custom Action="GrantDBPermissions" After="GrantDBPermissions.SetProperty">NOT Installed AND WINDOWSAUTH</Custom>
        </InstallExecuteSequence>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="INETPUBDIR" Name="inetpub">
                <Directory Id="WWWROOTDIR" Name="wwwroot">
                    <Directory Id="PQDASHFOLDER" Name="PQ Dashboard" />
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="PQ Dashboard" />
            </Directory>
        </Directory>
    </Fragment>
    
    <Fragment>
        <DirectoryRef Id="PQDASHFOLDER">
            <Component Id="PQDashboardConnectionString" Guid="{0369FEA2-33FF-4D99-8835-494B080FDAFB}" KeyPath="yes">
                <util:XmlFile Id="SetPQDashboardConnectionString" Action="setValue" ElementPath="/configuration/categorizedSettings/systemSettings/add[\[]@name='ConnectionString'[\]]/@value" Value="[DASHBOARDCONNECTIONSTRING]" File="[#filC6471F25B8C838F7719FA3B96A0EFAB2]" SelectionLanguage="XPath" Sequence="1" />
            </Component>
            
            <Component Id="InstallPQDashboardSite" Guid="{C73A8977-9C77-41A4-9656-38E0934CC5B4}" KeyPath="yes">
                <iis:WebVirtualDir Id="PQDashboardVirtualDir" Alias="PQDashboard" Directory="PQDASHFOLDER" WebSite="DefaultWebSite">
                    <iis:WebApplication Id="PQDashboardApplication" Name="PQ Dashboard" />
                    <iis:WebDirProperties Id="PQDashboardProperties" AnonymousAccess="no" WindowsAuthentication="yes" />
                </iis:WebVirtualDir>
            </Component>
            
            <Component Id="PQDashboardShortcutComponent" Guid="{A3F0BFE7-A72E-4D78-8A28-CA49056E14BB}">
                <Shortcut Id="PQDashboardStartMenuShortcut" Directory="ApplicationProgramsFolder" Name="PQ Dashboard" Icon="PQDashboard.ico" Description="URL to the PQ Dashboard website." Target="[PQDASHURL]" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\EPRI\PQDashboard" Name="PQDashShortcut" Type="string" Value="" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="PQDashboardGroup">
            <ComponentGroupRef Id="PQDashboardFiles" />
            <ComponentRef Id="PQDashboardConnectionString" />
            <ComponentRef Id="InstallPQDashboardSite" />
            <ComponentRef Id="PQDashboardShortcutComponent" />
            <ComponentGroupRef Id="Cleanup" />
        </ComponentGroup>
        
        <ComponentGroup Id="Cleanup" Directory="PQDASHFOLDER">
            <Component Id="Cleanup" Guid="{0A8DEA19-E4E4-4C1E-99CE-219066040DC0}">
                <CreateFolder />
                <RemoveFolder Id="ApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
        </ComponentGroup>
    </Fragment>

    <!-- Custom Dialogs -->
    <Fragment>
        <UI>
            <!-- Database Connection Dialog -->
            <Dialog Id="DatabaseConnectionDialog" Width="370" Height="270" Title="[ProductName] Setup">
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>{\WixUI_Font_Title}Database Connection</Text>
                </Control>
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text>Configure your database connection.</Text>
                </Control>
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="ServerNameLabel" Type="Text" X="95" Y="53" Width="100" Height="13" TabSkip="no" Text="&amp;Server name:" />
                <Control Id="ServerNameEdit" Type="Edit" X="95" Y="65" Width="170" Height="18" Property="SERVERNAME" Text="{80}" />
                <Control Id="DatabaseNameLabel" Type="Text" X="95" Y="88" Width="100" Height="13" TabSkip="no" Text="&amp;Database name:" />
                <Control Id="DatabaseNameEdit" Type="Edit" X="95" Y="100" Width="170" Height="18" Property="DATABASENAME" Text="{80}" />
                <Control Id="WindowsAuthenticationCheckBox" Type="CheckBox" X="85" Y="125" Width="200" Height="17" Property="WINDOWSAUTH" CheckBoxValue="1" Text="Use Windows Authentication" />
                <Control Id="UsernameLabel" Type="Text" X="95" Y="143" Width="100" Height="13" TabSkip="no" Text="&amp;Username:">
                    <Condition Action="enable">NOT WINDOWSAUTH</Condition>
                    <Condition Action="disable">WINDOWSAUTH</Condition>
                </Control>
                <Control Id="UsernameEdit" Type="Edit" X="95" Y="155" Width="170" Height="18" Property="DBUSERNAME" Text="{80}">
                    <Condition Action="enable">NOT WINDOWSAUTH</Condition>
                    <Condition Action="disable">WINDOWSAUTH</Condition>
                </Control>
                <Control Id="PasswordLabel" Type="Text" X="95" Y="178" Width="100" Height="13" TabSkip="no" Text="&amp;Password:">
                    <Condition Action="enable">NOT WINDOWSAUTH</Condition>
                    <Condition Action="disable">WINDOWSAUTH</Condition>
                </Control>
                <Control Id="PasswordEdit" Type="Edit" X="95" Y="190" Width="170" Height="18" Property="DBPASSWORD" Text="{80}" Password="yes">
                    <Condition Action="enable">NOT WINDOWSAUTH</Condition>
                    <Condition Action="disable">WINDOWSAUTH</Condition>
                </Control>
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
                    <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
                    <!-- Set up the authentication part of the connection string based on user input. -->
                    <Publish Property="AUTHSTRING" Value="Integrated Security=SSPI">WINDOWSAUTH</Publish>
                    <Publish Property="AUTHSTRING" Value="User Id=[DBUSERNAME];;Password=[DBPASSWORD]">NOT WINDOWSAUTH</Publish>
                    
                    <!-- Set up the queries to create the database user. -->
                    <Publish Property="GENPASSWORDLENGTH" Value="20">1</Publish>
                    <Publish Event="DoAction" Value="PasswordGenerationAction">NOT DASHBOARDDBPASSWORD</Publish>
                    <Publish Property="DASHBOARDDBLOGIN" Value="PQDashboard">1</Publish>
                    <Publish Property="DASHBOARDDBPASSWORD" Value="[GENERATEDPASSWORD]">NOT DASHBOARDDBPASSWORD</Publish>
                    <Publish Property="CREATEDBLOGINQUERY" Value="IF NOT EXISTS (SELECT * FROM master.dbo.syslogins WHERE loginname = '[DASHBOARDDBLOGIN]') CREATE LOGIN [\[][DASHBOARDDBLOGIN][\]] WITH PASSWORD = '[XDASERVICEPASSWORD]', CHECK_EXPIRATION = OFF, CHECK_POLICY = OFF">1</Publish>
                    <Publish Property="ALTERDBLOGINQUERY" Value="ALTER LOGIN [\[][DASHBOARDDBLOGIN][\]] WITH PASSWORD = '[DASHBOARDDBPASSWORD]'">1</Publish>
                    <Publish Property="CREATEDBUSERQUERY" Value="IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = '[DASHBOARDDBLOGIN]') CREATE USER [\[][DASHBOARDDBLOGIN][\]] FOR LOGIN [\[][DASHBOARDDBLOGIN][\]]">1</Publish>
                    <Publish Property="DBPERMISSIONSQUERY" Value="EXEC sp_addrolemember N'db_owner', N'[DASHBOARDDBLOGIN]'">1</Publish>
                    
                    <!-- Set up connection strings for connecting to server and database. -->
                    <Publish Property="SERVERCONNECTIONSTRING" Value="Data Source=[SERVERNAME];;[AUTHSTRING]">1</Publish>
                    <Publish Property="DBCONNECTIONSTRING" Value="Data Source=[SERVERNAME];;Initial Catalog=[DATABASENAME];;[AUTHSTRING]">1</Publish>
                    <Publish Property="DASHBOARDCONNECTIONSTRING" Value="Data Source=[SERVERNAME];Initial Catalog=[DATABASENAME];User Id=[DASHBOARDDBLOGIN];Password=[DASHBOARDDBPASSWORD]">WINDOWSAUTH</Publish>
                    <Publish Property="DASHBOARDCONNECTIONSTRING" Value="Data Source=[SERVERNAME];Initial Catalog=[DATABASENAME];User Id=[DBUSERNAME];Password=[DBPASSWORD]">NOT WINDOWSAUTH</Publish>
                    
                    <!-- Determine whether we can connect to the database server. -->
                    <Publish Property="CONNECTIONSTRING" Value="[SERVERCONNECTIONSTRING]">1</Publish>
                    <Publish Event="DoAction" Value="TestDatabaseConnectionAction">1</Publish>
                    <Publish Property="DBSERVERCONNECTS">NOT DATABASECONNECTED</Publish>
                    <Publish Property="DBSERVERCONNECTS" Value="1">DATABASECONNECTED</Publish>
                    <Publish Property="ERRORMESSAGE" Value="Unable to connect to the database server. Please verify the connection configuration and try again.">NOT DBSERVERCONNECTS</Publish>
                    <Publish Event="SpawnDialog" Value="ModalErrorDialog">NOT DBSERVERCONNECTS</Publish>
                    
                    <!-- Determine whether the database already exists on the server. -->
                    <Publish Property="CONNECTIONSTRING" Value="[DBCONNECTIONSTRING]">DBSERVERCONNECTS</Publish>
                    <Publish Event="DoAction" Value="TestDatabaseConnectionAction">DBSERVERCONNECTS</Publish>
                    <Publish Property="DBEXISTS">NOT DATABASECONNECTED</Publish>
                    <Publish Property="DBEXISTS" Value="1">DATABASECONNECTED</Publish>
                    <Publish Property="ERRORMESSAGE" Value="Database [DATABASENAME] does not exist on the server. Enter the name of an existing database, then try again.">DBSERVERCONNECTS AND NOT DBEXISTS</Publish>
                    <Publish Event="SpawnDialog" Value="ModalErrorDialog">DBSERVERCONNECTS AND NOT DBEXISTS</Publish>

                    <!-- Move to the next dialog if the validation checks out. -->
                    <Publish Event="NewDialog" Value="VerifyReadyDlg">DBSERVERCONNECTS AND DBEXISTS</Publish>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>

            <!-- Modal dialog to display error messages. -->
            <Dialog Id="ModalErrorDialog" Width="220" Height="100" Title="Database Connection Error">
                <Control Id="ErrorMessageLabel" Type="Text" X="30" Y="15" Width="160" Height="40" TabSkip="no" Text="[ERRORMESSAGE]" />
                <Control Id="OKButton" Type="PushButton" X="82" Y="70" Width="56" Height="17" Default="yes" Cancel="yes" Text="&amp;OK">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>